@import "compass/css3";
@import "compass/reset";

body {
  color: #666;
  font: 13px "Helvetica";
}

.container {
  width: 500px;
  margin: 0 auto;
  // text-align: center;

  h1 {
    margin: 1em 0;
    font-size: 200%;
  }

  h2 {
    font-size: 150%;
  }

  iframe {
    margin: 1em 0;
    display: block;
  }
}
